<!DOCTYPE html>
<html>
  <head>
    <title>NJ FOOD STORE</title>

  

    

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

      <!-- custom css file link -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    
  </head>
  <body>

<!-- header section start -->
<header>
  <a href="#" class="logo"><i class="fa-solid fa-utensils fa-bounce"></i>njcart</a>

  <nav class="navbar">
    <a href="/">home</a>
    <a class="active" href="/dishes">items</a>
    <a href="/about">about</a>
    <a href="/menu">grocery</a> 
    <a href="/order">order</a>

  </nav>

  <div class="icons">
    <i class="fas fa-star" onclick="myFunction()"></i>
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    <a href="#" class="fas fa-heart"></a>
    <a href="/cart" class="fas fa-shopping-cart"></a>
  </div>
</header>
<!-- header section ends -->



<!-- search form -->
<form action="" id="search-form">
  <input type="search" placeholder="search here..." id="search-box">
  <label for="search-box" class="fas fa-search"></label>
  <i class="fas fa-times" id="close"></i>
</form>


<!-- dishes section start -->

<section class="dishes" id="dishes">

    <h3 class="sub-heading">Products</h3>
    <h1 class="heading">Choose what you want</h1>
    
    <div class="box-container">
    
     
        
          <% dishes.forEach(dish => { %>
            <div class="box">
              <img src="<%= dish.image %>" alt="<%= dish.name %>" class="f">
              <h3><%= dish.name %></h3>
                <a href="<%= dish.eye %>" class="btn"> Go to Cart</a>
            </div>
          <% }); %>
        
      
    </div>
    </section>
    
    
    <!-- dishes section ends -->

<!-- footer section starts -->

<section class="footer">
  <div class="box-container">

     <div class="box">
       <h3>locations</h3>
       <a href="#">mumbai</a>
       <a href="#">jaipur</a>
       <a href="#">banglore</a>
       <a href="#">chandigarh</a>
       <a href="#">ahemedabad</a>
     </div>  

     <div class="box">
       <h3>quick links</h3>
       <a href="/">home</a>
       <a href="/dishes">dishes</a>
       <a href="/about">about</a>
       <a href="/menu">menu</a>
       <a href="/order">order</a>
     </div>    
     
     <div class="box">
       <h3>contact info</h3>
       <a href="#">9994442311</a>
       <a href="#">8723102288</a>
       <a href="#">njfoods@gmail.com</a>
       <a href="#">jaipur, india - 400104</a>
     </div>    
    
     <div class="myf">
     <div class="box">
       <h3>follow us</h3>
       <a href="#">facebook</a>
       <a href="#">twitter</a>
       <a href="#">instagram</a>
       <a href="#">linkedin</a>
     </div>    
   </div>



   </div>


   <div class="credit"> copyright @ 2023 by <span>njfoods</span></div>

 </section>
<!-- footer section ends  -->

<!-- custom js file link -->
<script src="/javascripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  </body>
</html>
