<!DOCTYPE html>
<html>
  <head>
    <title>NJCART</title>

  

    

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

      <!-- custom css file link -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    
  </head>
  <body>

<!-- header section start -->
<header>
  <a href="#" class="logo"><i class="fa-solid fa-utensils fa-bounce"></i>njcart</a>

  <nav class="navbar">
    <a class="active" href="/">home</a>
    <a href="/dishes">items</a>
    <a href="/about">about</a>
    <a href="/menu">grocery</a> 
    <a href="/order">order</a>

  </nav>

  <div class="icons">
    <i class="fas fa-star" onclick="myFunction()"></i>
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    <a href="#" class="fas fa-heart"></a>
    <a href="/cart" class="fas fa-shopping-cart"></a>
  </div>
</header>
<!-- header section ends -->



<!-- search form -->
<form action="" id="search-form">
  <input type="search" placeholder="search here..." id="search-box">
  <label for="search-box" class="fas fa-search"></label>
  <i class="fas fa-times" id="close"></i>
</form>


<!-- home section starts -->

<section class="home" id="home"> 
  <div class=" home-slider">

    <div class=" wrapper">

      
      <div class=" slide">
        <div class="content">
          <span>Come Shop</span>
          <h3>NJCART</h3>
          <p>Everyday Home Grocery Essentials Available Here and More</p>
          <a href="/dishes" class="btn">order now</a>
         </div>
         <div class="image">
          <img src="/images/image1.jpg" alt="" class="c">
         </div>

        </div>
  
      </div>

    
  </div>

  
  
 </div>
</section>

<!-- Home section ends -->

<!-- footer section starts -->

<section class="footer">
  <div class="box-container">

     <div class="box">
       <h3>Important Links</h3>
       <a href="/about">About</a>
       <a href="/index">Home</a>
       <a href="/dishes">Items</a>
       <a href="/order">Order</a>
       <a href="/cart">Cart</a>
       <a href="/menu">Grocery</a>
     </div>  

     <div class="box">
       <h3>Categories</h3>
       <a href="/item1">Dairy, Milk and Bread</a>
       <a href="/item2">Fruits & Vegetables</a>
       <a href="/item3">Bakery & Biscuits</a>
       <a href="/item4">Snacks & Munchies</a>
       <a href="/item5">Tea, Coffee & Health Drinks</a>
       <a href="/item6">Atta, Rice & Dal</a>
     </div>     
     
     <div class="box">
      <a href="#home">home</a>
      <a href="#dishes">dishes</a>
      <a href="#about">about</a>
      <a href="#menu">menu</a>
      <a href="#order">order</a>
    </div>  
     
   </div>



   </div>


   <div class="credit"> copyright @ 2025 by <span>njfoods</span></div>

 </section>
<!-- footer section ends  -->

<!-- custom js file link -->
<script src="/javascripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  </body>
</html>
